<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>iWolfLibrary</p>
<p>
  The book you requested is failed to proceed<br>
  This may due to cancel by yourself / librarian / admin <br>
  or the book you requested is ready and you cannot proceed to borrow since the max borrow num has reached.<br>
</p>

</p>
</body>
</html>