<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>iWolfLibrary --Book Ready</p>
<p>
  Book is borrowed to you. <br>
  Come and pick it up.
</p>

</p>
</body>
</html>