<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>iWolfLibrary</p>
<p>
  The book you requested is ready and has been borrowed to you now. <br>
  Come and pick it up!
</p>

</p>
</body>
</html>