<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      iWolfLibrary
    </style>
  </head>
        Your Book is ready! The book Come and pick it up.
  <body>
    <%= yield %>
  </body>
</html>
